/* HOME PAGE */
.job-link {
  text-decoration: none;
  color: #212529;
}

.home-img {
  width: 80%;
  /* width: 100%; */
  max-width: 430px;
}

.col-custom {
  min-width: 350px;
}

.card-img-top {
  width: "100%";
  height: auto;
  max-height: 300px;
}

/* DETAIL */

.img-large {
  max-width: 30rem;
}

.img-med {
  max-width: 25em;
}

.img-small {
  max-width: 15em;
  max-height: 15em;
}

.custom-container p {
  width: 70%;
  margin: 2em auto;
}


/* FOOTER */

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.footer i {
  margin: 2rem 1.2rem;
  color: #575e66;;
}

.footer i:hover {
  color: #343a40;
}
